<div class="photo medium">
    <div class="photo-container">
        <% if (model.get("tags_count") > 0) { %>
        <div class="adentify-pastille"></div>
        <% } %>
        <div class="photo-overlay">
            <% if (model.get("tags_count") > 0) { %>
            <ul class="tags fadeOut" data-state="hidden"></ul>
            <% } %>
            <a href="photo/<%= model.get("id") %>/" class="btn btn-info view-photo"><i class="icon-picture icon-white"></i> <span data-i18n="common.viewPhoto"></span></a>
            <div class="bottom-right">
                <div class="counters text-right">
                    <i class="icon-heart icon-white"></i> <%= model.get("likes_count") %> <i class="icon-tag icon-white"></i> <%= model.get("tags_count") %>
                </div>
                <div class="user-information text-right">
                    <% if (model.get("owner")["facebook_id"]) { %><img src="https://graph.facebook.com/<%= model.get("owner")["facebook_id"] %>/picture?width=20&height=20" alt="<%= model.get("fullname") %>" /><% } %> <a href="<%= model.get("profileLink") %>"><%= model.get("fullname") %></a>
                </div>
            </div>

        </div>
        <img class="opacity0" src="<%= model.get("fullMediumUrl") %>" data-id="<%= model.get("id") %>" data-type="medium"
        data-medium-width="<%= model.get("medium_width") %>" data-large-width="<%= model.get("large_width") %>"
        data-large-url="<%= model.get("fullLargeUrl") %>" />
    </div>
</div>