<button class="close">&times;</button>
<h2>Outils</h2>
<ul id="tools">
    <li><button id="add-tag" class="btn btn-small"><i class="icon-tag"></i> Ajouter un tag</button></li>
</ul>
<div class="form"></div>
<form id="form-details">
    <fieldset>
        <legend>Détails de la photo</legend>
        <label>Titre</label>
        <input type="text" id="photo-caption">
        <p><button type="submit" class="btn btn-success btn-small" data-loading-text="Chargement..."><i class="icon-ok icon-white"></i> Valider</button></p>
    </fieldset>
</form>