<% if (model.has('brandModel')) { %>
<div class="pull-left">
    <a href="<%= model.get('brandModel').get('link') %>"><img src="<%= model.get('brandModel').get('profilePicRootUrl') %><%= model.get('brandModel').get('small_logo_url') %>" class="brand-picture" alt="<%= model.get('brandModel').get('name') %>" /></a>
</div>
<% } else if (model.has('authorModel')) { %>
<div class="pull-left">
    <a href="<%= model.get('authorModel').get('link') %>"><img src="<%= model.get('authorModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('authorModel').get('fullname') %>" /></a>
</div>
<% } %>
<% if (model.has('targetModel')) { %>
<div class="pull-left">
    <a href="<%= model.get('targetModel').get('link') %>"><img src="<%= model.get('targetModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('targetModel').get('fullname') %>" /></a>
</div>
<% } %>
<%= getI18nMessage() %>
<div class="clearfix"></div>
<div class="ticker_separator"></div>