<% if (model.has('authorModel')) { %>
<div class="pull-left">
    <a href="<%= model.get('authorModel').get('link') %>"><img src="<%= model.get('authorModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('authorModel').get('fullname') %>" /></a>
</div>
<% } %>
<%= $.t('action.photosUploaded', { 'count': model.get('photos').length, 'authorLink' : model.get('authorModel').get('link'), 'author': model.get('authorModel').get('fullname') }) %>
<div class="clearfix"></div>
<div class="action-photos">
    <% model.get('photosCollection').each(function(photo, index) { %>
        <a href="<%= photo.get('link') %>" data-bypass='' data-photo-id="<%= photo.get('id') %>" class='photo-link photo-<%= index %>'><img src="<%= index > 0 ? photo.get('small_url') : photo.get('medium_url') %>" alt="<%= photo.get('caption') %>" /></a>
    <% }); %>
</div>
<div class="clearfix"></div>
<div class="ticker_separator"></div>