<% if (model.has('brandModel') && model.get('brandModel').has('small_logo_url')) { %>
<div class="pull-left">
    <a href="<%= model.get('brandModel').get('link') %>"><img src="<%= model.get('brandModel').get('small_logo_url') %>" class="brand-picture" alt="<%= model.get('brandModel').get('name') %>" /></a>
</div>
<% } else if (model.has('authorModel')) { %>
<div class="pull-left">
    <a href="<%= model.get('authorModel').get('link') %>"><img src="<%= model.get('authorModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('authorModel').get('fullname') %>" /></a>
</div>
<% } %>
<% if (model.has('targetModel') && (!model.has('authorModel') || model.get('authorModel').get('id') != model.get('targetModel').get('id'))) { %>
<div class="pull-left">
    <a href="<%= model.get('targetModel').get('link') %>"><img src="<%= model.get('targetModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('targetModel').get('fullname') %>" /></a>
</div>
<% } %>
<% if (model.get('type') == 'reward-new') { %>
<div class="pull-right">
    <div class="reward-<%= model.get('message_options').type %>"></div>
</div>
<% } %>
<%= getI18nMessage() %>
<div class="clearfix"></div>
<div class="ticker_separator"></div>