<div class="pull-right">
    <button id="like" type="button" class="btn btn-primary" data-toggle="button"><i class="icon-heart icon-white"></i> <span data-i18n="photo.like"></span></button>
</div>
<h1 class="lead"><%= model.get("caption") %></h1>
<div class="full-photo text-center">
    <img src="<%= model.get("fullLargeUrl") %>" alt="<%= model.get("caption") %>" />
</div>
<div class="mt1">
    <span id="like-count" class="badge badge-info"><%= model.get("likes_count") %></span> <span data-i18n="photo.likes"></span>
</div>

<hr>

<div class="row-fluid">
    <div class="span6">
        <h2 data-i18n="photo.comments"></h2>
        <div id="fbcomment"></div>
    </div>
    <div class="span6">
        <h2 data-i18n="photo.share"></h2>
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="https://platform.twitter.com/widgets/tweet_button.html?text=Découvrez mon image intéractive sur <%= encodeURIComponent("#") %>AdEntify : <%= pageUrl %>&via=AdEntify&lang=fr" style="width:130px; height:20px;"></iframe>
        <div class="g-plusone" data-size="medium" data-href="<%= pageUrl %>"></div>
        <script type="text/javascript">
            window.___gcfg = {lang: 'fr'};

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <div id="fblike"><div class="fb-like" data-href="<%= pageUrl %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></div>
        <div class="pinterest"><a target="_blank" href="//pinterest.com/pin/create/button/?url=<%= encodeURIComponent(pageUrl) %>&media=<%= encodeURIComponent(model.get("fullLargeUrl")) %>&description=<%= encodeURIComponent(model.get("caption")) %>" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a></div>

        <p class="mt2"><i class="icon-share-alt"></i> <span data-i18n="photo.link"></span></p>
        <pre><small><%= pageUrl %></small></pre>

        <h2 data-i18n="photo.embed"></h2>
        <pre class="pre-scrollable"><small>&lt;img width="<%= model.get("large_width") %>" height="<%= model.get("large_height") %>" src="<%= model.get("fullLargeUrl") %>" alt="<%= model.get("caption") %>" data-adentify-photo-id="<%= model.get("id") %>" /&gt;
&lt;script type="text/javascript" async src="https://adentify.com/embed/<%= model.get("id") %>.js"&gt;&lt;/script&gt;</small></pre>

    </div>
</div>