<div class="top-photo-buttons pull-right">
    <div class="like-button pull-right"></div>
    <div class="pull-right photo-counters"><span class="likes-count"><i class="icon red-heart-icon"></i> <span class="red-count likes-count-value"><%= model.get("likes_count") %></span></span></div>
    <div class="pull-right mr2">
        <button class="btn-around-corner btn-red-grey-border add-new-tag"><%= $.t('tag.addNewTag') %></button>
    </div>
</div>
<h1 class="lead"><%= model.get("caption") %></h1>
<div class="clearfix"></div>
<div class="loading-gif-container">
    <div class="loader rotate"></div>
</div>
<div class="full-photo text-center fade-out">
    <div class="photo-container">
        <div class="adentify-pastille-wrapper">
            <% if (model.get("tags_count") > 0) { %>
            <div class="adentify-pastille"></div>
            <% } else { %>
            <div class="adentify-grey-pastille"></div>
            <% } %>
            <div class="popover-wrapper"></div>
        </div>
        <div class="photo-overlay">
            <div class="tags-container"></div>
        </div>
        <div class="share-overlay fade-out"></div>
        <img src="<%= model.get("large_url") %>" alt="<%= model.get("caption") %>" class="photo-full" />
    </div>
</div>
<div class="mt2">
    <div class="pull-left">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?text=<%= model.getShareText('twitter') %>&via=AdEntify&lang=<%= currentLocale %>&url=<%= pageUrl %>" style="width:130px; height:20px;"></iframe>
        <div class="g-plusone" data-size="medium" data-href="<%= pageUrl %>"></div>
        <div class="fblike"><div class="fb-like" data-href="<%= pageUrl %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></div>
        <div class="pinterest"><a target="_blank" href="//pinterest.com/pin/create/button/?url=<%= encodeURIComponent(pageUrl) %>&media=<%= encodeURIComponent(model.get("large_url")) %>&description=<%= encodeURIComponent(model.getShareText()) %>" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a></div>
    </div>
    <div class="pull-right">
        <span class="source">Source :</span> <span class="source-name"><%= model.get("source") %></span> <button class="btn btn-link report-button" data-toggle="tooltip" data-original-title="<%= $.t('photo.report') %>"><i class="glyphicon glyphicon-warning-sign"></i></button>
    </div>
    <div class="clearfix"></div>
    <div class="categories-hashtags">
        <div class="categories pull-left"></div>
        <div class="hashtags pull-left"></div>
        <div class="clearfix"></div>
    </div>
</div>

<ul class="nav nav-tabs" id="photo-tabs">
    <li class="active"><a href="#comments" data-bypass=""><i class="icon grey-comment-icon"></i> <%= $.t('photo.comments') %></a></li>
    <li><a href="#share" data-bypass=""><i class="icon grey-share-icon"></i> <%= $.t('photo.share') %></a></li>
</ul>

<div class="tab-content photo-tab-content">
    <div class="tab-pane active" id="comments">
        <div class="comments"></div>
    </div>
    <div class="tab-pane" id="share">
        <h2 data-i18n="photo.link"></h2>
        <input type="text" value="<%= pageUrl %>" class="input-block-level form-control selectOnFocus">

        <% if (model.get('visibility_scope') == 'public') { %>
        <h2 data-i18n="photo.embed"></h2>
        <label class="checkbox">
            <input type="checkbox" checked="checked" class="showTagsCheckbox"> <span data-i18n="embed.showTags"></span>
        </label>
        <textarea class="embedCode form-control input-block-level selectOnFocus" rows="3">&lt;iframe src="https://adentify.com/iframe/photo-<%= model.get('id') %>.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" width="<%= model.get("large_width") %>" height="<%= model.get("large_height") %>" allowTransparency="true"&gt;&lt;/iframe&gt;</textarea>
        <% } else { %>
            <div class="alert alert-info mt2">
                <%= $.t('photo.noEmbedOnPrivatePhoto') %>
            </div>
        <% } %>
    </div>
</div>