<div class="media-body-wrapper">
    <div class="modal-row row">
        <div id="center-modal" class="col-sm-8 col-md-9">
            <div id="center-modal-content">
                <div class="loading-gif-container">
                    <div class="loader rotate"></div>
                </div>
            </div>
        </div>
        <div id="right-modal" class="col-sm-4 col-md-3">
            <div id="right-modal-content">
                <div class="loading-gif-container">
                    <div class="loader rotate"></div>
                </div>
            </div>
        </div>
    </div>
</div>