<div class="popover">
    <div class="arrow-top-adentify-pastille-hover"></div>
    <ul class="popover-pastille-buttons list-unstyled">
        <li><button class="btn-icon add-tag-icon add-tag-button" data-toggle="tooltip" title data-placement="left" data-original-title="<%= $.t('photo.addTagTooltip') %>"></button></li>
        <li><button class="btn-icon like-icon like-button" data-toggle="tooltip" title data-placement="left" data-original-title="<%= $.t('photo.likeTooltip') %>"></button></li>
        <li><button class="btn-icon share-icon share-button" data-toggle="tooltip" title data-placement="left" data-original-title="<%= $.t('photo.shareTooltip') %>"></button></li>
        <li><button class="btn-icon favorite-icon favorite-button" data-toggle="tooltip" title data-placement="left" data-original-title="<%= $.t('photo.favoriteTooltip') %>"></button></li>
    </ul>
</div>