{% extends '::base.admin.html.twig' %}

{% block body -%}
    <h1>{{ 'Brand creation'|trans }}</h1>

    {{ form(form) }}

    <a class="btn" href="{{ path('brands') }}">
        {{ 'Back to the list'|trans }}
    </a>

{% endblock %}
