<form class="form-horizontal">
    <fieldset>
        <legend data-i18n="myprofile.generalSettings"></legend>

        <div class="control-group">
            <label class="control-label" data-i18n="myprofile.labelLang"></label>
            <div class="controls">
                <select id="lang" name="lang">
                    <option value="fr" data-i18n="myprofile.french"></option>
                    <option value="en" data-i18n="myprofile.english"></option>
                </select>
            </div>
        </div>

        <legend data-i18n="myprofile.changePasswordLegend"></legend>
        <div class="control-group">
            <label class="control-label" data-i18n="myprofile.actualPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="myprofile.newPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="myprofile.confirmPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success" data-i18n="myprofile.saveChanges"></button>
            <button type="button" class="btn btn-danger" data-i18n="myprofile.cancel"></button>
        </div>

    </fieldset>
</form>