html, body {
    background: #FFFFFF;
    height: 100%;
    margin: 0;
}

.logo-nav {
    margin-right: 40px;
}
.navbar-nav {
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    margin-top: 8px;
}
@media (max-width:767px) {
    .navbar-nav {
        background: #29292b;
    }
}

/* Header
----------------------- */
header {
    position: relative;
    z-index: 10;
    width: 100%;
}
    .pastille-adentify {
        background: url('../images/pastille-adentify.png') no-repeat;
        width: 254px;
        height: 251px;
        position: absolute;
        top: 150px;
        left: 50%;
        text-align: center;
        text-indent: 5000px;
        overflow: hidden;
        margin: 0;
        margin-left: -127px;
    }
    .account-buttons {
        position: absolute;
        top: 420px;
        left: 50%;
        width: 480px;
        margin-left: -240px;
    }
    .account-buttons .btn {
        width: 227px;
        height: 50px;
        vertical-align: middle;
        font-size: 14px;
        text-align: center;
    }
    .signin,
    .signin:hover,
    .signin:active {
        background: #262424;
        background: -moz-linear-gradient(top,  #262424 0%, #141212 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262424), color-stop(50%,#141212));
        background: -webkit-linear-gradient(top,  #262424 0%,#141212 50%);
        background: -o-linear-gradient(top,  #262424 0%,#141212 50%);
        background: -ms-linear-gradient(top,  #262424 0%,#141212 50%);
        background: linear-gradient(to bottom,  #262424 0%,#141212 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262424', endColorstr='#141212',GradientType=0 );
        margin-right: 18px;
    }
    .signup,
    .signup:hover,
    .signup:active {
        background: #ff4747;
        background: -moz-linear-gradient(top,  #ff4747 0%, #ff2d2c 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4747), color-stop(50%,#ff2d2c));
        background: -webkit-linear-gradient(top,  #ff4747 0%,#ff2d2c 50%);
        background: -o-linear-gradient(top,  #ff4747 0%,#ff2d2c 50%);
        background: -ms-linear-gradient(top,  #ff4747 0%,#ff2d2c 50%);
        background: linear-gradient(to bottom,  #ff4747 0%,#ff2d2c 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4747', endColorstr='#ff2d2c',GradientType=0 );
    }
    .account-buttons .icon {
        margin-right: 10px;
        margin-left: 0px;
        vertical-align: middle;
    }
    .signin-icon {
        margin-top: -6px;
    }
/* Header
----------------------- */

/* Footer
----------------------- */
.bottom-footer {
    background: url('../images/home_offline_footer.png');
    width: 100%;
    height: 71px;
    border: 0px;
    font-family: 'asapbold_italic', "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 30px;
}
.bottom-footer a:hover,
.bottom-footer a {
    color: #ffffff;
    margin: 0px 12px;
}
/* End Footer
----------------------- */

/* Backgrounds */
.polygon-background {
    background: url('../images/polygon-background.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 90px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.red-patchwork {
    background: url('../images/tags_count_bg.jpg') no-repeat;
    height: 482px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
}
.porte-voix {
    background: url('../images/porte-voix-grey.png') no-repeat;
    width: 442px;
    height: 331px;
    position: absolute;
    bottom: 0px;
    left: 150px;
    z-index: 0;
}

/* Buttons */
.btn {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #FFFFFF;
    border: 0px;
    padding: 4px 30px;
    font-family: 'asapbold', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    outline: none;
}
.btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.btn-link,
.btn-link:hover {
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    text-shadow:  none;
    color: #9da0a4;
}
.btn-grey {
    background: #6d6968;
    background: -moz-linear-gradient(top,  #6d6968 0%, #504d4c 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6968), color-stop(50%,#504d4c));
    background: -webkit-linear-gradient(top,  #6d6968 0%,#504d4c 50%);
    background: -o-linear-gradient(top,  #6d6968 0%,#504d4c 50%);
    background: -ms-linear-gradient(top,  #6d6968 0%,#504d4c 50%);
    background: linear-gradient(to bottom,  #6d6968 0%,#504d4c 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6968', endColorstr='#504d4c',GradientType=0 );
    opacity: 0.3;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}
.btn-grey:hover {
    opacity: 1;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -56px; /* the bottom margin is the negative value of the footer's height */
}
.push {height: 56px;}

/* Others
----------------------- */
.pacifico-heading {
    font-family: 'pacificoregular', sans-serif;
    font-size: 3em;
}
.asap-heading {
    font-family: 'asapitalic', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}
.content-block {
    margin: 75px auto;
}
.mt4 {
    margin-top: 40px;
}
.mb4 {
    margin-bottom: 40px;
}
.modal-dialog {
    padding-top: 15%;
    max-width: 480px;
}

/* End
----------------------- */