html, body {
    padding-top: 0px;
}
/* Header
----------------------- */
header {
    border-top: 10px solid white;
    position: relative;
    z-index: 10;
    width: 100%;
}
    .start-button {
        background: url('../images/start_button.png') no-repeat top center;
        width: 111px;
        height: 65px;
        display: block;
        margin: -10px auto 0 auto;
        position: relative;
        z-index: 10;
        text-align: center;
        padding-top: 8px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'asapbold', sans-serif;
    }
    .start-button:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
    .carousel {
        width: 100%;
        height: 638px;
        margin-top: -55px;
        position: relative;
        z-index: 0;
        background: url('../images/carousel-dublin.jpg') no-repeat top center fixed;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
/* End Header
----------------------- */

/* Recherche
----------------------- */
.search-form {
    position: relative;
    margin: 25px auto;
    max-width: 1000px;
}
.search-input {
    width: 100%;
    -webkit-border-radius: 26px;
       -moz-border-radius: 26px;
            border-radius: 26px;
    border: 1px solid #dcdcdc;
    font-size: 26px;
    font-family: 'asapitalic', sans-serif;
    color: #5b5756;
    outline: none;
    padding: 6px 70px 6px 40px;
}
.search-button {
    background: url('../images/search_icon.jpg');
    width: 28px;
    height: 29px;
    position: absolute;
    top: 10px;
    right: 20px;
}
/* End Recherche
----------------------- */

/* A la une
----------------------- */
.a-la-une .photos {
    margin: 40px 0px;
}
.a-la-une .photo-wrapper {
    padding: 0px 10px;
}
.a-la-une .photo {
    border: 10px solid #FFFFFF;
    -webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.5);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px 0px;
    display: block;
    position: relative;
}


/* End A la une
----------------------- */

/* Compteur tags
----------------------- */
.tags-count-bg {
    background: url('../images/tags_count_bg.jpg') no-repeat;
    height: 482px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tags-count-icon {
    margin-top: 80px;
}
.counter {
    margin: 10px 0;
}
.counter-number {
    background: url('../images/counter_number_background.png') no-repeat;
    width: 48px;
    height: 79px;
    margin: 0px 1px;
    padding: 0px;
    font-family: 'asapbold', sans-serif;
    font-size: 80px;
    color: #ff3535;
    display: inline-block;
    line-height: 79px;
}
.counter-text {
    font-family: 'pacificoregular', sans-serif;
    font-size: 2.5em;
    color: #FFFFFF;
}
/* End
----------------------- */

/* Follows
----------------------- */
.people-to-follow {
    margin: 40px 0px;
}
.people-to-follow .username {
    text-transform: uppercase;
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    color: #181616;
    margin-top: 6px;
}
.people-to-follow .profile-picture-wrapper {
    position: relative;
}
.people-to-follow .profile-picture {
    width: 100px;
    height: 100px;
}
.people-to-follow .profile-picture-wrapper .icon_more_red {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -19px;
}
.people-to-follow .profile-picture-wrapper .profile-picture-hover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.people-to-follow .profile-picture-wrapper .icon_more_red,
.people-to-follow .profile-picture-wrapper .profile-picture-hover {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
    position: absolute;
}
.people-to-follow a:hover .icon_more_red,
.people-to-follow a:hover .profile-picture-hover {
    opacity: 1;
}
.people-to-follow a,
.people-to-follow a:hover {
    text-decoration: none;
    color: #181616;
}
/* End follows
----------------------- */

/* Trends
----------------------- */
.hashtag-box {
    font-size: 16px;
    margin-right: 5px;
}
/* End Trends
----------------------- */

/* Brands
----------------------- */
.brand {
    padding: 0 20px;
}
.brand-logo {
    width: 100%;
}

/* End Brands
----------------------- */

/* Backgrounds
----------------------- */
.light-grey-bg {
    background-color: #f3f3f3;
}
.white-bg {
    background-color: #FFFFFF;
}
.graphik-bg {
    border-top: 1px solid #d4d3d3;
    border-bottom: 1px solid #d4d3d3;
    background: url('../images/trend_topic_background.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.red-transparent-bg {

}
/* End Backgrounds
----------------------- */