<nav class="navbar navbar-inverse navbar-adentify navbar-fixed-top">
    <div class="container">
        <a href="{{ path('home_logoff') }}" class="logo-nav pull-left">
            <span class="dashboard-sub-logo">Analytics</span>
        </a>
    </div>
</nav>