# Bootstrap
app/bootstrap*

# Sessions
app/var/sessions/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# OS & lock files
/.idea/*
.idea/*
.classpath
.project
.settings/
.idea/
*.iml
*.iws
/.DS_Store
.DS_Store
*.lock
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea/workspace.xml
tasks.xml
api.html
