<aside class="profile-aside">
    <div class="block-white-background">
        <div class="profile-details text-center">
            <div class="profile-picture-wrapper">
                <img src="<%= model.get('profilePicRootUrl') %><%= model.get('small_logo_url') %>" alt="<%= model.get('name') %>" class="profile-picture" />
            </div>
            <h1><%= model.get('name') %></h1>
            <% if (categories && categories.length > 0) { %>
            <div class="brand-categories text-center"><%= categories.map(function(cat){return cat.get('name');}).join(', ') %></div>
            <% } %>
            <div class="follow-button"></div>

            <div class="indicators-container text-center">
                <div class="indicator">
                    <div class="indicator-value"><%= photosCount %></div>
                    <div class="indicator-label"><%= $.t('profile.photosIndicator') %></div>
                </div>
                <div class="sm-separator separator"></div>
                <div class="indicator">
                    <div class="indicator-value"><%= model.get("tags_count") %></div>
                    <div class="indicator-label"><%= $.t('profile.tagsIndicator') %></div>
                </div>
                <div class="lg-separator separator"></div>
                <div class="indicator">
                    <div class="indicator-value"><%= model.get("followers_count") %></div>
                    <div class="indicator-label"><%= $.t('profile.followersIndicator') %></div>
                </div>
            </div>

        </div>
    </div>
    <div class="block-white-bottom"></div>

    <hr class="menu-left-hr">

    <h2><%= $.t('brand.followersTitle') %></h2>
    <div class="block-white-background">
        <div class="followers"></div>
        <a href="#" class="link-grey-whith-red-arrow"><%= $.t('brand.moreFollowers') %></a>
    </div>
</aside>