<div class="loading-gif-container">
    <div class="loader rotate"></div>
</div>
<aside class="profile-aside fadeOut">
    <div class="block-white-background">
        <div class="profile-details text-center">
            <div class="profile-picture-wrapper">
                <img src="<%= model.get('profilePicRootUrl') %><%= model.get('small_logo_url') %>" alt="<%= model.get('name') %>" class="profile-picture brand-profile-picture" />
            </div>
            <h1><%= model.get('name') %></h1>
            <% if (categories && categories.length > 0) { %>
            <div class="brand-categories text-center"><%= categories.map(function(cat){return cat.get('name');}).join(', ') %></div>
            <% } %>
            <div class="follow-button"></div>

            <div class="indicators-container text-center">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="separator-sm-vertical"></div>
                        <div class="indicator-value"><%= photosCount ? photosCount : 0 %></div>
                        <div class="indicator-label"><%= $.t('profile.photosIndicator') %></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="indicator-value"><%= model.get("tags_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.tagsIndicator') %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="separator-sm-horizontal"></div>
                        <div class="separator-sm-vertical"></div>
                        <div class="indicator-value"><%= model.get("followers_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.followersIndicator') %></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="separator-sm-horizontal"></div>
                        <div class="indicator-value"><%= model.has('user') ? model.get("user")['followings_count'] : 0 %></div>
                        <div class="indicator-label"><%= $.t('profile.followingIndicator') %></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="block-white-bottom"></div>

    <h2><%= $.t('brand.rewards') %></h2>
    <div class="rewards"></div>

    <hr class="menu-left-hr">

    <h2><%= $.t('brand.followersTitle') %></h2>
    <div class="followers"></div>

    <hr class="menu-left-hr">

    <h2><%= $.t('profile.followingsTitle') %></h2>
    <div class="followings"></div>
</aside>