<form class="add-tag-form">
    <fieldset>
        <legend class="pacifico-adentify"><i class="adentify-flat-pastille icon"></i> <%= $.t('tag.legendAddTag') %></legend>
        <div class="tag-text text-center">
            <p data-i18n="tag.textAddTagToPhoto"></p>
        </div>
        <div class="tag-tabs fadeOut">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#product" data-toggle="tab" data-bypass="" data-i18n="tag.product"></a></li>
                <li><a href="#venue" data-toggle="tab" data-bypass="" data-i18n="tag.place"></a></li>
                <li><a href="#person" data-toggle="tab" data-bypass="" data-i18n="tag.person"></a></li>
            </ul>
            <div class="tab-content">
                <!-- Produit -->
                <div class="tab-pane active" id="product">
                    <div class="alert-product"></div>
                    <div class="form-group">
                        <label><span data-i18n="tag.labelBrandName"></span> <i class="glyphicon glyphicon-refresh fadeOut rotate" id="loading-brand"></i></label>
                        <input class="form-control" id="brand-name" name="brand-name" type="text" data-i18n="[placeholder]tag.placeholderBrandName">
                    </div>
                    <div id="brand-logo" class="text-center"></div>
                    <div class="form-group">
                        <label><span data-i18n="tag.labelProductName"></span> <i class="glyphicon glyphicon-refresh fadeOut rotate" id="loading-product"></i></label>
                        <input class="form-control" id="product-name" name="product-text" type="text" data-i18n="[placeholder]tag.placeholderProductName">
                    </div>
                    <p class="createProductButtonContainer">
                        <small data-i18n="tag.productNotExistLabel"></small><br>
                        <button class="btn-around-corner btn-dark-grey createProductButton"><i class="glyphicon glyphicon-plus"></i> <span data-i18n="tag.productNotExist"></span></button>
                    </p>
                    <div class="createProductContainer fadeOut">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span data-i18n="tag.productImageUploadLabel"></span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="files[]">
                    </span>
                    </div>
                    <div id="product-image" class="text-center"></div>
                    <div class="form-group">
                        <label data-i18n="tag.labelProductPurchaseUrl"></label>
                        <input class="form-control" id="product-purchase-url" name="product-purchase-url" type="text" data-i18n="[placeholder]tag.placeholderProductPurchaseUrl">
                    </div>
                    <div class="form-group">
                        <label data-i18n="tag.labelProductDescription"></label>
                        <textarea class="form-control" id="product-description" name="product-description" ></textarea>
                    </div>
                    <label data-i18n="tag.productBuyPlace"></label>
                    <p class="support-geolocation">
                        <span><small data-i18n="tag.textGeolocation"></small></span><br>
                        <button class="btn-around-corner btn-dark-grey btn-geolocation" data-i18n="[data-loading-text]tag.loadingGeolocalization"><i class="glyphicon glyphicon-map-marker"></i> <span data-i18n="tag.useGeolocation"></span></button>
                    </p>
                    <p class="fadeOut not-support-geolocation" data-i18n="tag.noSupportGeolocation"></p>
                    <div class="form-group">
                        <label><span data-i18n="tag.labelPlaceName"></span> <i class="glyphicon glyphicon-refresh fadeOut rotate" id="product-loading-venue"></i></label>
                        <input class="form-control" id="product-venue-name" autocomplete="off" data-provide="typeahead" type="text" data-i18n="[placeholder]tag.placeholderProductPlaceName">
                    </div>
                    <div id="product-previsualisation-tag-map"></div>
                    <div id="product-venue-informations"></div>
                    <p><button id="submit-product" data-i18n="[data-loading-text]tag.addingInProgress" type="submit" class="btn-around-corner btn-red-grey-border submitTagButton"><i class="glyphicon glyphicon-ok"></i> <span data-i18n="tag.submitProduct"></span></button>
                        <button class="btn btn-link cancel-add-tag"><span data-i18n="common.cancel"></span></button></p>
                </div>
                <!-- Lieu -->
                <div class="tab-pane" id="venue">
                    <div class="alert-venue"></div>
                    <p class="support-geolocation">
                        <span><small data-i18n="tag.textGeolocation"></small></span><br>
                    <div class="text-center">
                        <button class="btn-around-corner btn-dark-grey btn-geolocation" data-i18n="[data-loading-text]tag.loadingGeolocalization"><i class="glyphicon glyphicon-map-marker"></i> <span data-i18n="tag.useGeolocation"></span></button>
                    </div>
                    </p>
                    <p class="fadeOut not-support-geolocation" data-i18n="tag.noSupportGeolocation"></p>
                    <div class="form-group">
                        <label><span data-i18n="tag.labelPlaceName"></span> <i class="glyphicon glyphicon-refresh fadeOut rotate" id="loading-venue"></i></label>
                        <input class="form-control" id="venue-name" autocomplete="off" data-provide="typeahead" type="text" data-i18n="[placeholder]tag.placeholderPlaceName">
                    </div>
                    <div id="previsualisation-tag-map"></div>
                    <div id="venue-informations"></div>
                    <div class="form-group">
                        <label data-i18n="tag.labelPlaceDescription"></label>
                        <textarea class="form-control" id="venue-description"></textarea>
                    </div>
                    <div class="form-group">
                        <label data-i18n="tag.labelPlaceLink"></label>
                        <input class="form-control" id="venue-link" type="text">
                    </div>
                    <p><button id="submit-venue" data-i18n="[data-loading-text]tag.addingInProgress" type="submit" class="btn-around-corner btn-red-grey-border submitTagButton"><i class="glyphicon glyphicon-ok"></i> <span data-i18n="tag.submitPlace"></span></button>
                        <button class="btn btn btn-link cancel-add-tag"><span data-i18n="common.cancel"></span></button></p>
                </div>
                <!-- Personne -->
                <div class="tab-pane" id="person">
                    <div class="alert-person"></div>
                    <div class="fb-loggedin">
                        <div class="form-group">
                            <label><span data-i18n="tag.labelPersonName"></span> <i class="glyphicon glyphicon-refresh fadeOut rotate" id="loading-person"></i></label>
                            <input class="form-control" id="person-text" autocomplete="off" data-provide="typeahead" type="text" data-i18n="[placeholder]tag.placeholderPersonName">
                        </div>
                        <p><button id="submit-person" data-i18n="[data-loading-text]tag.addingInProgress" type="submit" class="btn-around-corner btn-red-grey-border submitTagButton"><i class="glyphicon glyphicon-ok"></i> <span data-i18n="tag.submitPerson"></span></button>
                            <button class="btn btn-link cancel-add-tag"><span data-i18n="common.cancel"></span></button></p>
                    </div>
                    <div class="fb-loggedout alert alert-danger fadeOut" data-i18n="[html]tag.textNoFacebookConnect"></div>
                </div>
            </div>
        </div>

    </fieldset>
</form>