<form>
    <fieldset>
        <legend>Ajouter un tag</legend>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#person" data-toggle="tab" data-bypass="">Personne</a></li>
            <li><a href="#venue" data-toggle="tab" data-bypass="">Lieu</a></li>
            <li><a href="#product" data-toggle="tab" data-bypass="">Produit</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="person">
                Personne
            </div>
            <div class="tab-pane" id="venue">
                Lieu
            </div>
            <div class="tab-pane" id="product">
                Produit
            </div>
        </div>
        <p><button class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Valider</button> <button class="btn btn-danger btn-small cancel-add-tag"><i class="icon-remove icon-white"></i> Annuler</button></p>
    </fieldset>
</form>