<div class="tag <%= model.get("cssClass") %>" style="left: <%= model.get("x_position") * 100 %>%; top: <%= model.get("y_position") * 100 %>%">
    <div class="tag-text-icon tag-icon"></div>
    <div class="popover">
        <span class="title"><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %></a></span>
        <% if (model.get("description")) { %>
        <p><%= model.get("description") %></p>
        <% } %>
        <div class="text-center">
            <div class="btn-group">
                <% if (model.get("validation_status") == "waiting" && model.get("waiting_validation")) { %>
                <button class="btn btn-success btn-small validateTagButton" data-i18n="tag.validateTag"></button>
                <button class="btn btn-danger btn-small refuseTagButton" data-i18n="tag.refuseTag"></button>
                <% } %>
                <% if (model.isOwner()) { %>
                <button class="btn btn-danger btn-small deleteTagButton" data-i18n="tag.deleteTag"></button>
                <% } %>
            </div>
        </div>
    </div>
</div>