<div class="tag <%= model.get("class") %>" style="left: <%= model.get("x_position") * 100 %>%; top: <%= model.get("y_position") * 100 %>%">
<div class="popover">
    <div class="text-center">
        <img src="https://graph.facebook.com/<%= model.get('person')['facebook_id'] %>/picture?type=square" />
    </div>
    <span class="title"><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %></a></span>
    <% if (model.get("description")) { %>
    <p><%= model.get("description") %></p>
    <% } %>
</div>
</div>