<div class="tag <%= model.get("cssClass") %>" style="left: <%= model.get("x_position") * 100 %>%; top: <%= model.get("y_position") * 100 %>%">
    <div class="tag-user-icon tag-icon"></div>
    <div class="popover">
        <div class="tag-popover-arrow"></div>
        <div class="tag-buttons">
            <% if (model.isOwner()) { %>
            <i class="glyphicon glyphicon-remove deleteTagButton"></i>
            <% } %>
        </div>
        <div class="text-center">
            <img src="https://graph.facebook.com/<%= model.get('person')['facebook_id'] %>/picture?type=square" />
        </div>
        <span class="title"><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %></a></span>
        <% if (model.get("description")) { %>
        <p><%= model.get("description") %></p>
        <% } %>
        <% if (model.get("validation_status") == "waiting" && model.get("waiting_validation") && model.isOwner()) { %>
        <div class="tag-validation">
            <span class="tagged-by"><%= $.t('tag.taggedBy', { 'author': model.get('ownerModel').get('fullname') }) %></span>
            <div class="btn-group">
                <button type="button" class="btn btn-black btn-sm validateTagButton" data-i18n="tag.validateTag"></button>
                <button type="button" class="btn btn-black btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><button class="btn btn-link refuseTagButton" data-i18n="tag.refuseTag"></button></li>
                    <li><button class="btn btn-link reportTagButton" data-i18n="tag.reportTag"></button></li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>
</div>