<% if (model) { %>
<div class="tag product-tag-container <%= model.get("cssClass") %>" style="<%= model.get('cssStyle') %>">
    <div class="glyphicon glyphicon-tag tag-icon"></div>
    <% if (!popoverDesactivated) { %>
        <div class="popover">
            <div class="tag-popover-arrow"></div>
            <div class="popover-inner">

                <% if (model.get('link')) { %>
                <span class="title"><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %></a></span>
                <% } else { %>
                <span class="title"><%= model.get("title") %></span>
                <% } %>

                <% if (model.has("product") && model.get("product").get("small_url")) { %>
                <div class="pull-left">
                    <% if (model.get('link')) { %><a href="<%= model.get("link") %>" target="_blank"><% } %>
                    <img src="<%= model.get("product").get("small_url") %>" class="product-photo" />
                    <% if (model.get('link')) { %></a><% } %>
                </div>
                <% } %>

                <% if (model.has('description') && model.get("description")) { %>
                <p class="tag-description"><%= model.get("description") %></p>
                <% } else if (model.has('product') && model.get('product').has('description') && model.get('product').get('description')) { %>
                <p class="tag-description"><%= model.get('product').get('description') %></p>
                <% } %>

                <% if (model.has("brandModel") && model.get('brandModel')) { %>
                <div class="brand">
                    <a href="<%= model.get('brandModel').get('link') %>">
                        <% if (!model.get('brandModel').has('small_logo_url')) { %>
                        <%= model.get("brandModel").get('name') %>
                        <% } else { %>
                        <img src="<%= model.get("brandModel").get('small_logo_url') %>" alt="<%= model.get("brandModel").get('name') %>" class="brand-logo" />
                        <% } %>
                    </a>
                </div>
                <% } %>

            </div>
            <div class="clearfix"></div>
            <% if ((model.has('product') && model.get('product').get('purchase_url'))
                    || (model.has('product') && model.get('product').get('legal_notice'))
                    || (model.has("brandModel") && model.get("brandModel").get('legal_notice'))) { %>
            <div class="popover-details">
                <% if (model.has('product') && model.get('product').get('purchase_url')) { %>
                <p>
                    <a href="<%= model.get('link') %>" target="_blank" class="more-info"><i class="icon-shopping-cart icon-white"></i> <%= $.t('tag.moreInfo') %></a>
                </p>
                <div class="row">
                    <div class="col-xs-6 more-info-url-wrapper">
                        <a href="<%= model.get('link') %>" target="_blank" class="more-info-url"><i class="glyphicon glyphicon-globe icon"></i> <%= model.get('link') %></a>
                    </div>
                    <div class="col-xs-6">
                        <div class="venue-adress-wrapper"></div>
                    </div>
                </div>
                <% } %>
                <% if (model.has('product') && model.get('product').get('legal_notice')) { %>
                <div class="legal-notice"><small><em><%= $.t('legalNotice.' + model.get('product').get('legal_notice')) %></em></small></div>
                <% } %>
                <% if (model.has("brandModel") && model.get("brandModel").get('legal_notice')) { %>
                <div class="legal-notice"><small><em><%= $.t('legalNotice.' + model.get("brandModel").get('legal_notice')) %></em></small></div>
                <% } %>
            </div>
            <% } %>
            <div class="tag-buttons">
                <% if (model.has('ownerModel')) { %>
                <span class="tagged-by"><%= $.t('tag.taggedBy', { 'author': model.get('ownerModel').get('fullname'), 'link': model.get('ownerModel').get('link') }) %></span>
                <% } %>
                <div class="btn-group">
                    <% if (model.isWaitingValidation()) { %>
                    <button type="button" class="btn btn-black btn-sm validateTagButton" data-i18n="tag.validateTag"></button>
                    <button type="button" class="btn btn-black btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><button class="btn btn-link refuseTagButton" data-i18n="tag.refuseTag"></button></li>
                        <li><button class="btn btn-link reportTagButton" data-i18n="tag.reportTag"></button></li>
                    </ul>
                    <% } else { %>
                    <button type="button" class="btn btn-black btn-sm dropdown-toggle" data-toggle="dropdown">
                        <%= $.t('tag.actions') %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <% if (model.isOwner()) { %>
                        <li><button class="btn btn-link deleteTagButton" data-i18n="tag.deleteTag"></button></li>
                        <% } %>
                        <li><button class="btn btn-link reportTagButton" data-i18n="tag.reportTag"></button></li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>
<% } %>