<div class="tag <%= model.get("cssClass") %>" style="left: <%= model.get("x_position") * 100 %>%; top: <%= model.get("y_position") * 100 %>%">
    <div class="tag-brand-icon tag-icon"></div>
    <div class="popover popover-product">
        <div class="tag-popover-arrow"></div>
        <div class="tag-buttons">
            <div class="btn-group">
                <% if (model.get("validation_status") == "waiting" && model.get("waiting_validation")) { %>
                <button class="btn btn-success btn-xs validateTagButton" data-i18n="tag.validateTag"></button>
                <button class="btn btn-danger btn-xs refuseTagButton" data-i18n="tag.refuseTag"></button>
                <% } %>
                <% if (model.isOwner()) { %>
                <button class="btn btn-danger btn-xs deleteTagButton"><i class="glyphicon glyphicon-remove"></i> <span data-i18n="tag.deleteTag"></span></button>
                <% } %>
            </div>
        </div>
        <span class="title"><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %><% if (model.get("product").get("brand")) { %> - <%= model.get("product").get("brand")["name"] %><% } %></a></span>
        <div class="pull-left">
            <img src="<%= model.get("product").get("small_url") %>" class="product-photo" />
        </div>
        <% if (model.has("product") && model.get("product").has("brandModel")) { %>
        <div class="brand pull-right">
            <a href="<%= model.get('product').get('brandModel').get('brandLink') %>"><img src="<%= model.get('product').get("brandModel").get('profilePicRootUrl') %><%= model.get('product').get("brandModel").get('small_logo_url') %>" alt="<%= model.get("product").get("brand")["name"] %>" class="brand-logo" /></a>
        </div>
        <% } %>
        <% if (model.get("description")) { %>
        <p><%= model.get("description") %></p>
        <% } %>
        <div class="clearfix"></div>
        <div class="popover-details">
            <a href="<%= model.get("product").get("purchase_url") %>" class="buy-link"><i class="icon-shopping-cart icon-white"></i> Acheter</a>
        </div>
    </div>
</div>