<div class="tag <%= model.get("cssClass") %>" style="left: <%= model.get("x_position") * 100 %>%; top: <%= model.get("y_position") * 100 %>%">
    <div class="popover">
        <span class="title"><% if (model.get("link")) { %><a href="<%= model.get("link") %>" target="_blank"><%= model.get("title") %></a><% } else { %><%= model.get("title") %><% } %></span>
        <% if (model.get("description")) { %>
        <p><%= model.get("description") %></p>
        <% } %>
        <div id="map<%= model.get("id") %>" class="map"></div>
        <% if (model.get("validation_status") == "waiting" && model.get("waiting_validation")) { %>
        <div class="text-center mt1">
            <div class="btn-group">
                <button class="btn btn-success btn-small validateTagButton" data-i18n="tag.validateTag"></button>
                <button class="btn btn-danger btn-small refuseTagButton" data-i18n="tag.refuseTag"></button>
            </div>
        </div>
        <% } %>
    </div>
</div>