<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}AdEntify.com{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}Tag, share and browse photos with AdEntify, you can add products, places and people on your or friends photos.{% endblock %}">
        {% block meta %}{% endblock %}

        {% stylesheets
            '../app/Resources/public/css/bootstrap.min.css'
            '../app/Resources/public/css/main.css'
        %}
        <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body{% block bodyAttr %}{% endblock %}>
        <div id="fb-root"></div>
        {% block body %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43624207-1', 'adentify.com');
            ga('send', 'pageview');

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
