<div id="photos">
    <div class="top-grey-title-container text-center">
        <% if (category) { %>
        <h1 class="photos-title" data-i18n="category.title" data-i18n-options='{"name": "<%= category.get("name") %>"}'></h1>
        <% } else { %>
        <h1 class="photos-title fade-out"></h1>
        <% } %>
        <div class="small-arrow-top"></div>
    </div>
    <% if (showServices) { %>
    <div class="services-container"></div>
    <% } %>
    <% if (filters) { %>
    <div class="filters-wrapper"></div>
    <% } %>
    <div class="photos-grid-container"></div>
</div>