<div id="photos">
    <div class="top-grey-title-container text-center">
        <% if (category) { %>
        <% if (category.has('name')) { %>
        <h1 class="photos-title"><%= $.t('category.title', { name: category.get('name') }) %></h1>
        <% } %>
        <% } else { %>
        <h1 class="photos-title fade-out"></h1>
        <% } %>
        <div class="small-arrow-top"></div>
    </div>
    <% if (showServices) { %>
    <div class="services-container"></div>
    <% } %>
    <% if (filters) { %>
    <div class="filters-wrapper"></div>
    <% } %>
    <div class="photos-grid-container"></div>
</div>