<div class="photo medium">
    <div class="photo-container">
        <% if (model.get("tags_count") > 0) { %>
        <div class="adentify-pastille"></div>
        <% } %>
        <div class="photo-overlay">
            <% if (model.get("tags_count") > 0) { %>
            <ul class="tags fadeOut" data-state="hidden"></ul>
            <% } %>
        </div>
        <img src="<%= model.get("fullMediumUrl") %>" data-id="<%= model.get("id") %>" data-type="medium" data-large-width="<%= model.get("large_width") %>" data-large-url="<%= model.get("fullLargeUrl") %>" />
    </div>
</div>