<% if (model) { %>
<div class="photo medium">
    <div class="photo-container">
        <div class="adentify-pastille-wrapper">
            <% if (model.get("tags_count") > 0) { %>
            <div class="adentify-pastille-small"></div>
            <% } else { %>
            <div class="adentify-grey-pastille-small"></div>
            <% } %>
            <div class="popover-wrapper"></div>
        </div>
        <% if (addTag) { %>
        <div class="add-tag">
            <div class="table-center">
                <div class="table-center-cell">
                    <i class="icon_more_red icon"></i><br>
                    <%= $.t('photos.addTag') %>
                </div>
            </div>
        </div>
        <% } %>
        <a href="<%= model.get('link') %>" data-bypass="" class="photo-link photo-overlay">
            <div class="tags-container"></div>
        </a>
        <img src="<%= model.get("medium_url") %>" class="photo-img-medium" />
        <% if (showPhotoInfo) { %>
        <div class="photo-info">
            <div class="pull-left">
                <a href="<%= model.get('ownerModel').get('link') %>">
                    <img src="<%= model.get('ownerModel').get('profilePicture') %>" class="profile-picture" alt="<%= model.get('ownerModel').get('fullname') %>" />
                    <span><%= model.get('ownerModel').get('fullname') %></span>
                </a>
            </div>
            <div class="pull-right">
                <i class="white-heart-icon icon"></i> <%= model.get('likes_count') %> <i class="white-comment-icon icon"></i> <%= model.get('comments_count') %>
            </div>
            <div class="clearfix"></div>
        </div>
        <% } %>
    </div>
</div>
<% } %>