<button class="close">&times;</button>
<h2>Do some stuff to your photo</h2>
<ul id="tools">
    <li><div class="btn btn-small"><i class="icon-tag"></i> Taguer</div></li>
    <li><div class="btn btn-small"><i class="icon-pencil"></i> Editer</div></li>
    <li><div class="btn btn-small"><i class="icon-map-marker"></i> Ajouter un lieu</div></li>
    <li><div class="btn btn-small"><i class="icon-search"></i> Rechercher un ami</div></li>
    <li><div class="btn btn-success btn-small"><i class="icon-ok"></i> Valider</div></li>
    <li><div class="btn btn-danger btn-small"><i class="icon-remove"></i> Annuler</div></li>
</ul>