parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     adentify
    database_user:     adentify
    database_password: H8Ff8tTpCcneTeG9

    mailer_transport:  smtp
    mailer_host:       smtp.office365.com
    mailer_port:       587
    mailer_user:       pierrick@adentify.com
    mailer_password:   P8m9ADcomBR@
    mailer_encryption: tls

    locale:            fr
    secret:            AdEntify@SecretKey!2013--@D
