parameters:
    database_driver:              pdo_mysql
    database_host:                127.0.0.1
    database_port:                3306
    database_name:                adentify
    database_user:                adentify
    database_password:            H8Ff8tTpCcneTeG9
    database_host_lbj:             127.0.0.1
    database_name_lbj:            littlebigjoe
    database_user_lbj:            littlebigjoe
    database_password_lbj:        tuD99QdqHwJhR9n4

    mailer_transport:             smtp
    mailer_host:                  smtp.office365.com
    mailer_port:                  587
    mailer_user:                  no-reply@adentify.com
    mailer_password:              Adentify75$
    mailer_encryption:            tls

    contact_email:                contact@adentify.com

    locale:                       en
    secret:                       AdEntify@SecretKey!2013--@D

    aws_key:                      AKIAJUEUXVG626O7OS7A
    aws_secret_key:               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
    aws_region:                   eu-west-1
    adentify_bucket_name:         cdn.adentify.com
    adentify_base_url:            https://s3-eu-west-1.amazonaws.com/cdn.adentify.com/

    from_email:                   no-reply@adentify.com
    instagram_client_id:          db51217592cf490aab08224763fc6cea
    instagram_client_secret:      48017f2c3cf441d6996ca7813e1abeb9
    flickr_client_id:             370e2e2f28c0ca81fd6a5a336a6e2c89
    flickr_client_secret:         6084b60c02b4c8fc
    foursquare_client_id:         FTCUYTRQ5C4TMDYBAYB4PVVQEKMSG2HCDYNXKD2MHHURLPEZ
    foursquare_client_secret:     1I2D3YVPIN2RFPCMTLER5TROVTTZVBT4KT1ML3PTUBLMFYR1
    twitter_consumer_key:         mzKZ8anZeGddPOgVWnQ
    twitter_consumer_secret:      d27XZ9UpNyowFiLpugC1EhC8xwdQlwcwtrkTHIXE
    facebook_app_id:              159587157398776
    facebook_secret:              6465372f50a4b1e570cfe4ce7fd62cca
    facebook_permissions:         email,user_birthday,user_photos,read_friendlists,publish_actions
    root_url:                     "https://local.adentify.com/"
    root_url_without_trailing:    "https://local.adentify.com"
    facebook_grant_extension_uri: "http://grants.api.adentify.com/facebook_access_token"
    twitter_grant_extension_uri:  "http://grants.api.adentify.com/twitter_access_token"
    adentify_oauth_client_name:   "AdEntify"
    team_email:                   team@valyouad.com
    app_version:                  1.1.19
    push_notifications_api_key:   naO8yCSHNVQU9itjlDC0YjC3zLC3b3NO8gEcIoNAUl1oWszu1vDiI6CBQBwDZlvH