<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noodp, noydir" />
    <meta name="referrer" content="default" id="meta_referrer" />
    <title>AdEntify</title>
    {% stylesheets filter='cssrewrite'
        '@AdEntifyEmbedJsBundle/Resources/public/css/iframe.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmrQ05zbn-02aT8wxp6Olh5MEn27ULHDg&sensor=false"></script>
</head>
<body class="plugin">
{% block body %}{% endblock %}
</body>
</html>