{% extends '::base.admin.html.twig' %}

{% form_theme form 'AdEntifyBackofficeBundle:Common:fields.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form, {'attr': {'class' : 'form-horizontal'} }) }}

    <a class="btn btn-default" href="{{ path('categories') }}">
        {{ 'Back to the list'|trans }}
    </a>
{% endblock %}
