<div class="top-grey-title-container">
    <div class="back-to-link">
        <a href="<%= rootUrl %><%= $.t('routing.upload/') %>"><%= $.t('upload.backToServices') %> <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    <h1 data-i18n="upload.addAlbumsTitle"></h1>
    <div class="small-arrow-top"></div>
</div>
<% if (typeof serviceName !== 'undefined') { %>
<div class="service-name-container text-center">
    <i class="<%= loweredServiceName %>-circle-icon icon"></i> <span class="<%= loweredServiceName %>-text service-name"><%= serviceName %></span>
</div>
<% } %>
<div id="loading-albums" class="loading-gif-container">
    <div class="loader rotate"></div>
</div>

<div class="upload-details">
    <div class="upload-counter-view"></div>
    <div class="clearfix"></div>
</div>

<div class="upload-options">
    <div class="pull-right">
        <button class="btn-around-corner btn-red-grey-border btn-large submit-albums-button fade-out" type="button"><i class="glyphicon glyphicon-ok"></i> <%= $.t('upload.submitAlbums') %></button>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row" id="albums-list"></div>

<div class="upload-options">
    <div class="form-inline">
        <label data-i18n="externalServicePhotos.labelPhotosConfidentiality"></label>
        <select class="photos-confidentiality form-control" name="photos-confidentiality">
            <option value="public" data-i18n="externalServicePhotos.public"></option>
            <option value="private" data-i18n="externalServicePhotos.private"></option>
        </select>
    </div>
</div>

<div class="modal fade" id="uploadInProgressModal" tabindex="-1" role="dialog" aria-labelledby="uploadInProgressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="uploadInProgressLabel" class="modal-title" data-i18n="externalServicePhotos.modalUploadTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-wrapper mt2">
                    <p data-i18n="externalServicePhotos.modalUploadText"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" data-i18n="common.close"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->