<div class="photo-inner">
    <div class="photo-thumbnail" style="background-image: url('<%= model.get("thumbUrl") %>');">
        <div class="hover-overlay">
            <div class="table-center">
                <div class="table-center-cell"><i class="icon_more_red"></i></div>
            </div>
        </div>
        <div class="checked-overlay fade-out">
            <div class="photo-selected"><i class="glyphicon glyphicon-remove unselect-button"></i><i class="glyphicon glyphicon-ok"></i> <%= $.t('externalServicePhotos.photoSelected') %></div>
            <label><%= $.t('upload.categories') %></label>
            <select class="selectCategories" multiple="multiple">
                <% _.forEach(categories.models, function(category) { %>
                <option value="<%= category.get('id') %>"><%= category.get('name') %></option>
                <% }); %>
            </select>
            <label><%= $.t('upload.hashtags') %></label>
            <input type="hidden" class="selectHashtags bigdrop" />
        </div>
    </div>
</div>

