<div class="thumbnail<% if (enableCheck) { %> check-image<% } %>">
    <div class="check-image-container">
        <% if (enableCheck) { %>
        <div class="checked-overlay"><span class="label label-success" data-i18n="externalServicePhotos.selected"></span></div>
        <div class="hover-overlay"><span class="label label-info" data-i18n="externalServicePhotos.select"></span></div>
        <% } %>
        <img class="check-image-img" src="<%= model.get("thumbUrl") %>" data-small-url="<%= model.get("smallUrl") %>"
        data-small-width="<%= model.get("smallWidth") %>" data-small-height="<%= model.get("smallHeight") %>" data-medium-url="<%= model.get("mediumUrl") %>"
        data-medium-width="<%= model.get("mediumWidth") %>" data-medium-height="<%= model.get("mediumHeight") %>" data-large-url="<%= model.get("largeUrl") %>"
        data-large-width="<%= model.get("largeWidth") %>" data-large-height="<%= model.get("largeHeight") %>"
        data-original-url="<%= model.get("originalUrl") %>" data-original-width="<%= model.get("originalWidth") %>"
        data-original-height="<%= model.get("originalHeight") %>" data-service-photo-id="<%= model.get("servicePhotoId") %>"
        data-title="<%= model.get("title") %>" />
    </div>
</div>