<div id="loading-photos" class="loading-gif-container">
    <div class="loading-gif"></div>
    <p><em class="small muted">Chargement des photos en cours...</em></p>
</div>
<div id="loading-upload" class="loading-gif-container" style="display: none;">
    <div class="loading-gif"></div>
    <p><em class="small muted">Récupération de vos photos en cours...</em></p>
</div>
<div id="photos-container">
    <div id="errors"></div>
    <div class="action-buttons">
        <p class="text-center">
            <label>
                <input type="checkbox" checked="checked" class="photos-rights" /> Je dispose des droits pour ces photos
            </label>
            <button class="submit-photos btn btn-success btn-large">Valider mes photos</button>
        </p>
    </div>
    <ul id="photos-list" class="thumbnails"></ul>
    <div class="action-buttons">
        <p class="text-center">
            <label>
                <input type="checkbox" checked="checked" class="photos-rights" /> Je dispose des droits pour ces photos
            </label>
            <button class="submit-photos btn btn-success btn-large">Valider mes photos</button>
        </p>
    </div>
</div>