<div class="external-photos">
    <h2>Envoyer mes photos</h2>
    <div class="no-photo-selected">
        <p>Vous n'avez sélectionné aucune photo pour le moment.</p>
    </div>
    <div class="photos-selected">
        <p>Vous avez sélectionné <span class="photo-count"></span> photo(s) afin de les partager à AdEntify.</p>
        <p class="text-center">
            <label>
                <input type="checkbox" checked="checked" class="photos-rights" /> Je dispose des droits pour ces photos
            </label>
            <button class="submit-photos btn btn-success btn-large">Valider mes photos</button>
        </p>
    </div>
</div>