<div class="external-photos mt3">
    <div class="alert-upload-photos"></div>
    <div class="no-photo-selected">
        <div class="alert fade in alert-info">
            <span data-i18n="externalServicePhotos.noSelectedPhoto"></span>
        </div>
    </div>
    <div class="photos-selected">
        <p><span data-i18n="externalServicePhotos.textSelectedPhotos"></span> <span class="photo-count badge badge-success"></span> <span data-i18n="externalServicePhotos.textSelectedPhotos2"></span></p>
        <form>
            <fieldset>
                <legend data-i18n="externalServicePhotos.settings"></legend>
                <label data-i18n="externalServicePhotos.labelPhotosConfidentiality"></label>
                <select id="photos-confidentiality" name="photos-confidentiality">
                    <option value="private" data-i18n="externalServicePhotos.private"></option>
                    <option value="public" data-i18n="externalServicePhotos.public"></option>
                </select>
                <label data-i18n="externalServicePhotos.labelPhotosCategories"></label>
                <select name="photos-categories" class="selectCategories" multiple="multiple">
                    <% _.forEach(categories.models, function(category) { %>
                    <option value="<%= category.get('id') %>"><%= category.get('name') %></option>
                    <% }); %>
                </select>
                <label>
                    <input type="checkbox" checked="checked" class="photos-rights" /> <span data-i18n="externalServicePhotos.haveRights"></span>
                </label>
                <p class="text-center mt2">
                    <button class="submit-photos btn btn-success btn-large" data-i18n="[data-loading-text]externalServicePhotos.download;externalServicePhotos.submit"></button>
                </p>
            </fieldset>
        </form>
    </div>
</div>

<div id="uploadInProgressModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadInProgressLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="uploadInProgressLabel" data-i18n="externalServicePhotos.modalUploadTitle"></h3>
    </div>
    <div class="modal-body">
        <p data-i18n="externalServicePhotos.modalUploadText"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="common.close"></button>
    </div>
</div>