<div class="top-grey-title-container">
    <h1 data-i18n="upload.sendPhotos"></h1>
</div>

<p data-i18n="upload.textWhichService"></p>
<p><a href="facebook/albums/" id="facebookUploadButton" class="btn btn-primary btn-large">Facebook</a>
    <a href="https://api.instagram.com/oauth/authorize/?client_id=<%= model.instagramClientId %>&redirect_uri=<%= model.appRoot %>instagram/authentication&response_type=code" class="btn btn-primary btn-large">Instagram</a>
    <button id="flickrUploadButton" class="btn btn-primary btn-large">Flickr</button>
</p>
<p data-i18n="upload.textUploadFromComputer"></p>
<p><a href="<%= model.localUpload %>" class="btn btn-primary btn-large" data-i18n="upload.uploadFromComputer"></a></p>