<ul class="services list-unstyled">
    <li><a href="<%= rootUrl %><%= $.t('routing.facebook/albums/') %>" class="service-button facebook-service-button active"><i class="facebook-circle-white-icon icon"></i> Facebook</a></li>
    <li><a href="<%= rootUrl %><%= $.t('routing.instagram/photos/') %>" class="service-button instagram-service-button active"><i class="instagram-circle-white-icon icon"></i> Instagram</a></li>
    <li><a href="<%= rootUrl %><%= $.t('routing.upload/local/') %>" class="service-button local-service-button active"><i class="local-circle-white-icon icon"></i> <%= $.t('upload.myComputer') %></a></li>
</ul>