<aside class="profile-aside">
    <div class="block-white-background">
        <div class="profile-details text-center">
            <% if (lastPhoto) { %>
            <div class="last-photo" style="background-image: url('<%= lastPhoto.get('medium_url') %>');"></div>
            <div class="last-photo-spacer"></div>
            <% } %>

            <div class="profile-picture-wrapper">
                <a href="<%= model.get('link') %>"><img src="<%= model.get('largeProfilePicture') %>" alt="<%= model.get('fullname') %>" class="profile-picture" /></a>
            </div>
            <h1><%= model.get('fullname') %></h1>
            <% if (currentUserId != model.get('id')) { %>
            <div class="follow-button"></div>
            <% } else { %>
            <a href="<%= rootUrl %><%= $.t('routing.my/settings/') %>" class="btn btn-large btn-around-corner btn-grey-white-border"><%= $.t('profile.editMyProfile') %></a>
            <% } %>

            <div class="indicators-container text-center">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="separator-sm-vertical"></div>
                        <div class="indicator-value"><%= model.get("photos_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.photosIndicator') %></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="indicator-value"><%= model.get("tags_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.tagsIndicator') %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="separator-sm-horizontal"></div>
                        <div class="separator-sm-vertical"></div>
                        <div class="indicator-value"><%= model.get("followings_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.followingIndicator') %></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="separator-sm-horizontal"></div>
                        <div class="indicator-value"><%= model.get("followers_count") %></div>
                        <div class="indicator-label"><%= $.t('profile.followersIndicator') %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-white-bottom"></div>

    <hr class="menu-left-hr">

    <% if (showHashtags) { %>
    <h2><%= $.t('profile.hashtagsTitle') %></h2>
    <div class="hashtags"></div>
    <hr class="menu-left-hr">
    <% } %>

    <% if (showFollowings) { %>
    <h2><%= $.t('profile.followingsTitle') %></h2>
    <div class="followings"></div>
    <hr class="menu-left-hr">
    <% } %>

    <% if (showFollowers) { %>
    <h2><%= $.t('profile.followersTitle') %></h2>
    <div class="followers"></div>
    <hr class="menu-left-hr">
    <% } %>

    <% if (showServices) { %>
    <h2><%= $.t('profile.myLinkedServices') %></h2>
    <div class="block-white-background">
        <div class="services"></div>
    </div>
    <% } %>

   <!-- <hr class="user-hr">

    <h2>Ses marques</h2>
    <div class="block-white-background">

        <a href="#" class="link-grey-whith-red-arrow">Voir toutes ses marques</a>
    </div>-->
</aside>