<div>
    <ul class="first-filters list-unstyled">
        <li><button class="today-filter"><i class="clock-icon icon"></i> <%= $.t('filter.today') %></button></li>
        <li><button class="mostLiked-filter"><i class="heart-icon icon"></i> <%= $.t('filter.mostLiked') %></button></li>
        <li><button class="taggedPhotos-filter"><i class="grey-tagged-icon icon"></i> <%= $.t('filter.taggedPhotos') %></button></li>
        <li><button class="mostOldest-filter"><i class="clock-icon icon"></i> <%= $.t('filter.mostOldestToRecent') %></button></li>
    </ul>
</div>