<p class="text-center lead search-infos"><% if (terms) { %>"<%= terms %>"<% } %></p>
<div class="text-center search-loading fadeOut"><span data-i18n="search.inProgress"></span> <i class="glyphicon glyphicon-refresh rotate"></i></div>
<span class="lead" data-i18n="search.tagsBlockTitle"></span>
<div class="alert-search-tags-results"></div>
<ul class="search-tags-results list-unstyled"></ul>
<span class="lead" data-i18n="search.usersBlockTitle"></span>
<div class="alert-search-users-results"></div>
<ul class="search-users-results list-unstyled"></ul>