<div>
    <h1 class="text-center search-infos"><%= terms ? terms : $.t('search.noSearch') %></h1>
    <span class="lead" data-i18n="search.photos"></span>
    <div class="alert-search-tags-results"></div>
    <div class="search-photos-results"></div>
    <span class="lead" data-i18n="search.feeds"></span>
    <div class="alert-search-feeds-results"></div>
    <div class="search-feeds-results"></div>
    <span class="lead" data-i18n="search.users"></span>
    <div class="alert-search-users-results"></div>
    <ul class="search-users-results list-unstyled"></ul>
</div>