-<% if (model.get('type') == 'product') { %>
<a href="photo/<%= model.get('photo')['id'] %>/"><img src="<%= model.get("photo")["small_url"] %>" class="mh150 p5 pull-left" alt="<%= model.get("photo")["caption"] %>" /></a> <a class="lead" href="photo/<%= model.get('photo')['id'] %>/"><%= model.get('title') %></a>
<% } else if (model.get('type') == 'person') { %>
<a href="photo/<%= model.get('photo')['id'] %>/"><img src="<%= model.get("photo")["small_url"] %>" class="mh150 p5 pull-left" alt="<%= model.get("photo")["caption"] %>" /></a> <a class="lead" href="photo/<%= model.get('photo')['id'] %>/"><%= model.get('title') %></a>
<% } else { %>
<a href="photo/<%= model.get('photo')['id'] %>/"><img src="<%= model.get("photo")["small_url"] %>" class="mh150 p5 pull-left" alt="<%= model.get("photo")["caption"] %>" /></a> <a class="lead" href="photo/<%= model.get('photo')['id'] %>/"><%= model.get('title') %></a>
<% } %>
<div>
    <div class="pull-right">
        <i class="icon-heart"></i> <%= model.get("photo")["likes_count"] %> <i class="icon-tag"></i> <%= model.get("photo")["tags_count"] %>
    </div>
    Par <a href="<%= model.get("profileLink") %>"><%= model.get("fullname") %></a>
</div>
<div class="clearfix"></div>