<div class="search-bar">
    <form class="navbar-form form-search">
        <div class="input-append">
            <input type="text" class="span2 search-query" data-i18n="[placeholder]search.placeHolderKeywords">
            <button type="submit" class="btn search-button"><i class="icon-search"></i></button>
        </div>
    </form>
    <div class="search-results-container popover fadeOut span5">
        <div class="text-center search-loading"><span data-i18n="search.inProgress"></span> <i class="icon-refresh rotate"></i></div>
    </div>
</div>