{% if count > pageLimit %}
    <ul class="pagination">
        {% set pages = count%pageLimit %}
        {% for i in 1..pages-1 %}
            <li><a href="{{ path('brands', { 'page': i }) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endif %}