{% if count > pageLimit %}
    <ul class="pagination">
        {% set pages = (count / pageLimit)|ceil %}
        {% for i in 1..pages %}
            <li><a href="{{ path(route, { 'page': i }) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endif %}