body.plugin {
    background: transparent;
}
body {
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    direction: ltr;
    unicode-bidi: embed
}
.pull-left {
    float: left;
}
#embed-photo {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
@media screen and (max-width: 200px){
    .popover {
        font-size: 12px;
    }
}
.popover {
    position: absolute;
    display:none;
    background-color:#ffffff;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover-product {
    /*min-width: 250px;*/
}
.popover-product .product-image {
    max-height: 100px;
    margin: 15px;
}
.popover-product .brand-logo {
    max-height: 50px;
}
.popover.top {
    margin-top:-10px;
}
.popover.right {
    margin-left:10px;
}
.popover.bottom {
    margin-top:10px;
}
.popover.left {
    margin-left:-10px;
}
.popover-title {
    margin:0;
    padding:8px 14px;
    font-size:14px;
    font-weight:normal;
    line-height:18px;
    background-color:#f7f7f7;
    border-bottom:1px solid #ebebeb;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.popover-title:empty {
    display:none;
}
.popover-content {
    padding: 9px 14px;
}
.popover .arrow,.popover .arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
}
.popover .arrow {
    border-width:11px;
}
.popover .arrow:after {
    border-width:10px;
    content:"";
}
.popover.top .arrow {
    left:50%;
    margin-left:-11px;
    border-bottom-width:0;
    border-top-color:#999;
    border-top-color:rgba(0, 0, 0, 0.25);
    bottom:-11px;
}
.popover.top .arrow:after{
    bottom:1px;
    margin-left:-10px;
    border-bottom-width:0;
    border-top-color:#ffffff;
}
.popover.right .arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-left-width:0;
    border-right-color:#999;
    border-right-color:rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after{
    left:1px;
    bottom:-10px;
    border-left-width:0;
    border-right-color:#ffffff;
}
.popover.bottom .arrow {
    left:50%;
    margin-left:-11px;
    border-top-width:0;
    border-bottom-color:#999;
    border-bottom-color:rgba(0, 0, 0, 0.25);
    top:-11px;
}
.popover.bottom .arrow:after{
    top:1px;
    margin-left:-10px;
    border-top-width:0;
    border-bottom-color:#ffffff;
}
.popover.left .arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:#999;
    border-left-color:rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after{
    right:1px;
    border-right-width:0;
    border-left-color:#ffffff;
    bottom:-10px;
}
[class^="icon-"],[class*=" icon-"]{
    display:inline-block;
    width:14px;
    height:14px;
    *margin-right:.3em;
    line-height:14px;
    vertical-align:text-top;
    background-position:14px 14px;
    background-repeat:no-repeat;
    margin-top:1px;
}

.icon-heart {
    background-position: -96px 0;
}
.adentify-photo-likes {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    text-rendering: optimizelegibility;
}
.list-unstyled {
    padding-left:0;
    list-style:none;
}
.favorite-icon {
    background-position: -102px -150px;
    width: 21px;
    height: 20px;
}
.like-icon {
    background-position: -56px -185px;
    width: 21px;
    height: 17px;
}
.share-icon {
    background-position: -55px -159px;
    width: 26px;
    height: 23px;
}
.btn-icon {
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.share-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.close-share {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.share-overlay-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.share-overlay-cell {
    display: table-cell;
    vertical-align: middle;
}
.share-overlay-inner {
    max-width: 500px;
    max-height: 200px;
    margin: auto;
}
.share-overlay-inner textarea {
    margin: 20px 0px 10px 0px;
    height: 80px;
}
.form-control {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555555;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.fblike, .pinterest {
    display: inline-block;
}
.pinterest {
    height: 20px;
    vertical-align: top;
    margin-left: 40px;
}
.fadeOut {
    display: none;
}
.popover .popover-details {
    background: #f5f5f7;
    padding: 10px 25px;
}
.popover-details strong {
    font-family: "asapbold", "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
}
.popover-details a.buy-link {
    font-size: 16px;
    color: #4e4e50;
}
.popover-product {
    min-width: 250px;
}
.popover-product .brand-logo {
    max-height: 50px;
}
.brand-logo {
    max-height: 100px;
}
.product-photo {
    max-width: 100%;
}
/*****************/
/* sprite
/*****************/
.arrow-top-adentify-pastille-hover, .add-tag-icon, .like-icon, .share-icon, .favorite-icon, .tag-place-icon,
.tag-user-icon, .tag-brand-icon, .tag-popover-arrow-bottom, .tag-popover-arrow-left, .tag-popover-arrow-right,
.tag-popover-arrow-top {
    background-color: transparent;
    background-repeat: no-repeat;
}
/*****************/
/* tags
/*****************/
.adentify-photo-container .tags {
    opacity: 0;
    transition: opacity .3s linear;
}
.adentify-photo-container:hover .tags {
    opacity: 1;
}
.tag:hover .popover {
    display: block!important;
}
.tags li {
    margin: 0;
    padding: 0;
}
    .tag {
        position: absolute;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: -102px -109px;
        width: 35px;
        height: 36px;
    }
        .tag .popover {
            z-index: 3;
            border: 0px;
            border-radius: 0px;
            font-family: "asapregular", "Helvetica Neue", "Arial", sans-serif;
            transition: opacity 0.3s ease-out;
        }
            .tag .popover .popover-inner {
                position: absolute;
                background: white;
                padding: 10px;
                box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
            }
        .tag .tag-icon {
            position: absolute;
        }
        .tag .tag-brand-icon{
            top: 9px;
            left: 11px;
            background-position: -181px -109px;
            width: 12px;
            height: 17px;
        }
        .tag .tag-place-icon{
            left: 12px;
            top: 10px;
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag .tag-text-icon{
            left: 12px;
            top: 10px;
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag .tag-user-icon{
            left: 11px;
            top: 10px;
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag .tag-video-icon{
            left: 10px;
            top: 11px;
            background-position: -141px -109px;
            width: 16px;
            height: 13px;
        }
        .tag .map {
            width: 270px;
            height: 260px;
        }
        /*.tag-brand-icon{
            background-position: -181px -109px;
            width: 12px;
            height: 17px;
        }
        .tag-place-icon{
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag-text-icon{
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag-user-icon{
            background-position: -163px -127px;
            width: 11px;
            height: 14px;
        }
        .tag-video-icon{
            background-position: -141px -109px;
            width: 16px;
            height: 13px;
        }*/
/*****************/
/* popover
/*****************/
.tag .popover img {

}
.tag .text-center {
    display: inline-block;
}
.tag:hover .popover {
    display: block;
}
.tag .tag-popover-arrow {
    position: absolute;
}
.tag-popover-arrow-bottom{
    background-position: -196px -131px;
    width: 10px;
    height: 10px;
}
.tag-popover-arrow-left{
    background-position: -191px -93px;
    width: 10px;
    height: 10px;
}
.tag-popover-arrow-right{
    background-position: -179px -131px;
    width: 10px;
    height: 10px;
}
.tag-popover-arrow-top{
    background-position: -207px -93px;
    width: 10px;
    height: 10px;
}
.tag .popover .person-title {
    position: relative;
    float: right;
    top: 15px;
    margin-left: 10px;
}
.tag .popover .title {

    font-family: "asapbold", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    color: #181616;
}
.tag .popover address {
    margin-bottom: 0px;
    color: #5b5756;
    font-size: 12px;
}
.tag .popover a {
    color: #000000;
    font-family: "asapbold", "Helvetica Neue", "Arial", sans-serif;
}
.add-tag-icon {
    background-position: -83px -174px;
    width: 19px;
    height: 19px;
}
.tag .tag-top-buttons {
    float: right;
    margin-bottom: 8px;
}
.tag-text {
    font-family: "robotoregular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    padding: 10px;
}
.tag-buttons {
    padding: 6px 10px;
    color: #b7babe;
    font-family: "asapregular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 11px;
    margin: 2px 0px 0px;
}
.tag-buttons strong {
    font-weight: normal;
    font-family: "asapbold", "Helvetica Neue", "Arial", sans-serif;
}
.tag-buttons .tagged-by {
    margin-right: 4px;
}
.tagged-by a,.tagged-by a:hover {
    text-decoration: none;
    color: #b7babe!important;
}
/*****************/
/* pastille
/*****************/
.adentify-pastille {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s linear;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}
.adentify-photo-container:hover .adentify-pastille {
    opacity: 1;
}
.adentify-pastille-wrapper:hover .popover {
    display: block;
}
.popover-pastille-buttons {
    margin: 0;
    padding: 0;
}
.popover-pastille-buttons li {
    border-bottom: 1px solid #dfe2e6;
    width: 67px;
    height: 54px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
}
.arrow-top-adentify-pastille-hover {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -6px;
}
.adentify-pastille-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
    .adentify-pastille-wrapper .popover {
        top: 69px;
        right: 4px;
        left: auto;
        border-radius: 0px;
        border-left: 1px solid #dfe2e6;
        border-top: 1px solid #dfe2e6;
        border-right: 1px solid #dfe2e6;
        padding: 0px;
    }
.arrow-top-adentify-pastille-hover {
    background-position: -106px -174px;
    width: 13px;
    height: 8px;
}