html, body {
    padding-top: 0px;
}
/* Header
----------------------- */
header {
    position: relative;
    z-index: 10;
    width: 100%;
}
    .top-fixed {
        border-top: 10px solid white;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 10;
    }
    .start-button {
        background: url('../../bundles/adentifycommon/images/start-button.png') no-repeat top center;
        width: 141px;
        height: 73px;
        display: block;
        margin: -10px auto 0 auto;
        position: relative;
        z-index: 10;
        text-align: center;
        padding-top: 8px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'asapbold', Helvetica Neue, Helvetica, Arial;
    }
    .start-button:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
    .carousel {
        width: 100%;
        height: 750px;
        margin-top: -25px;
        position: relative;
        display: block;
        z-index: 0;
        background: url('../../bundles/adentifycommon/images/carousel.jpg') no-repeat top center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .scroller-arrow {
        width: 61px;
        height: 60px;
        border-radius: 99em;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 580px;
        color: white;
        cursor: pointer;
        font-size: 30px;
        text-align: center;
        -webkit-transition: background .2s ease-out;
        -moz-transition: background .2s ease-out;
        -o-transition: background .2s ease-out;
        transition: background .2s ease-out;
        padding-top: 12px;
    }
    .scroller-arrow:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
/* End Header
----------------------- */
h2 {
    color: #999797;
}

/* Recherche
----------------------- */
.search-form {
    position: relative;
    margin: 25px auto;
    max-width: 1000px;
}
.search-input {
    width: 100%;
    -webkit-border-radius: 26px;
       -moz-border-radius: 26px;
            border-radius: 26px;
    border: 1px solid #dcdcdc;
    font-size: 26px;
    font-family: 'asapitalic', sans-serif;
    color: #999797;
    outline: none;
    padding: 6px 70px 6px 40px;
}
.search-button {
    background: url('../../bundles/adentifycommon/images/search_icon.jpg');
    width: 28px;
    height: 29px;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 0px;
}
.search {
    position: relative;
}
.search .dropdown-menu {
    left: 70px;
    width: 100%;
    max-width: 1000px;
    top: 57px;
    font-family: 'robotobold', "Helvetica Neue", "Arial", sans-serif;
}
.search .white-arrow-top {
    left: 20px;
}
.search-results-list {
    list-style-type: none;
    margin: 0;
}
.search-results-list li {
    margin: 4px 0px;
    border-bottom: 1px solid #eeeeee;
}
.search-users-results li {
    padding: 5px 0px;
}
.search .view-more-results {
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    padding: 16px 20px;
    margin-bottom: 16px;
}
.search .search-title {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 6px;
    font-size: 1.4em;
}
.search .profile-picture {
    border: 0px;
    margin: 6px 10px;
    max-height: 40px;
    vertical-align: middle;
}
.search .dropdown-menu a,
.search .dropdown-menu a:hover {
    color: #5b5756;
    font-family: 'robotobold', "Helvetica Neue", "Arial", sans-serif;
    text-decoration: none;
    padding: 0px;
}
.search .item-link {
    display: block;
    width: 100%;
    min-height: 50px;
}
.search .user-fullname {
    font-size: 12px;
}
.search .hashtag-box {
    font-size: 12px;
    color: #181616!important;
    padding: 6px 20px!important;
    display: inline;
}
.search .hashtag-box:hover {
    color: #ffffff!important;
    font-size: 12px;
    padding: 6px 20px!important;
    display: inline;
}
.search .photo {
    width: 125px;
    height: 75px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 8px;
}
.search .photo-details {
    padding-top: 4px;
}
.search .brand-logo {
    width: auto;
}
/*.search .brands li {
    padding: 5px;
    height: 30px;
}
.search .brands .brand-logo {
    max-height: 50px;
}*/
.search .brands .tagged-count {
    display: none;
}

.search-users-results .profile-picture {
    max-width: 50px;
}
.search .hashtag-item {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    display: inline-block!important;
    zoom: 1;
}
/* End Recherche
----------------------- */

/* A la une
----------------------- */
.a-la-une .photos {
    margin: 40px 0px;
}
.a-la-une .photo-wrapper {
    padding: 0px 10px;
}
.a-la-une .photo {
    border: 10px solid #FFFFFF;
    -webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.5);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px 0px;
    display: block;
    position: relative;
}
.adentify-pastille-wrapper {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.a-la-une .photo .white-background {
    background: rgba(255,255,255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.a-la-une .tags-count {
    font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
    color: #ff3434;
    font-size: 26px;
}
.a-la-une .photo:hover .white-background {
    opacity: 1;
}
.a-la-une .photo:hover .adentify-pastille-wrapper {
    opacity: 1;
}

/* End A la une
----------------------- */

/* Quotes
*/
.quotes {
    position: relative;
    padding: 30px 10px;
    color: #5b5756;
    font-weight: 500;
}
.steps {
    text-align: center;
    padding: 50px 0px;
}
.steps .step {
    border: 1px solid #FFFFFF;
    border-radius: 99em;
    color: #5b5756;
    background-color: #FFFFFF;
    font-size: 20px;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    font-family: 'asapitalic', sans-serif
}
.step .number {
    font-size: 20px;
    color: white;
    background: #5b5756;
    border-radius: 99em;
    margin-bottom: 0px;
    display: inline-block;
    padding: 2px;
    width: 32px;
}
.steps .step-1 {
    padding-top: 45px;
}
.steps .step-3 {
    padding-top: 30px;
}
.step h2 {
    font-size: 26px;
    margin-top: 10px;
    color: #5b5756;
}
.step h2 span {
    font-size: 19px;
}
.quote,
.steps .step{
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Compteur tags
----------------------- */
.tags-count-bg {
    background: url('../../bundles/adentifycommon/images/tags_count_bg.jpg') no-repeat;
    height: 482px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.red-image-bg {
    background: url('../../bundles/adentifycommon/images/tags_count_bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tags-count-icon {
    margin-top: 80px;
}
.counter {
    margin: 10px 0;
}
.counter-number {
    background: url('../../bundles/adentifycommon/images/counter_number_background.png') no-repeat;
    width: 48px;
    height: 79px;
    margin: 0px 1px;
    padding: 0px;
    font-family: 'asapbold', sans-serif;
    font-size: 80px;
    color: #ff3535;
    display: inline-block;
    line-height: 79px;
}
.counter-text {
    font-family: 'pacificoregular', sans-serif;
    font-size: 2.5em;
    color: #FFFFFF;
}
/* End
----------------------- */

/* Follows
----------------------- */
.people-to-follow {
    margin: 40px 0px;
}
.people-to-follow .username {
    text-transform: uppercase;
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    color: #181616;
    margin-top: 6px;
}
.people-to-follow .profile-picture-wrapper {
    position: relative;
}
.people-to-follow .profile-picture {
    width: 100px;
    height: 100px;
}
.people-to-follow .profile-picture-wrapper .icon_more_red {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -19px;
}
.people-to-follow .profile-picture-wrapper .profile-picture-hover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.people-to-follow .profile-picture-wrapper .icon_more_red,
.people-to-follow .profile-picture-wrapper .profile-picture-hover {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
    position: absolute;
}
.people-to-follow a:hover .icon_more_red,
.people-to-follow a:hover .profile-picture-hover {
    opacity: 1;
}
.people-to-follow a,
.people-to-follow a:hover {
    text-decoration: none;
    color: #181616;
}
/* End follows
----------------------- */

/* Trends
----------------------- */
.hashtag-box {
    font-size: 16px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
/* End Trends
----------------------- */

/* Brands
----------------------- */
.brand {
    padding: 0 20px;
    height: 60px;
    position: relative;
}
.brand-logo {
    max-width: 100%;
    max-height: 60px;
    vertical-align: middle;
}
.brand .tagged-count {
    font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
    color: #ff3434;
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.brand:hover .tagged-count {
    opacity: 1
}

/* End Brands
----------------------- */

/* Backgrounds
----------------------- */
.light-grey-bg {
    background-color: #f3f3f3;
}
.white-bg {
    background-color: #FFFFFF;
}
.graphik-bg {
    border-top: 1px solid #d4d3d3;
    border-bottom: 1px solid #d4d3d3;
    background: url('../../bundles/adentifycommon/images/trend_topic_background.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.red-transparent-bg {

}
/* End Backgrounds
----------------------- */