/* Dashboard
----------------------- */
.dashboard-stats-container {
    min-height: 740px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 50px 0;
    background: white;
}
.dashboard-stats-container h1 {
    text-align: center;
}
.dashboard-logo {
    height: 80px;
    width: 100px;
    margin: 0px auto 15px auto;
    background: no-repeat center;
    background-size: contain;
}
.dashboard-tab {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboard-statistiques {
    border-top: 1px solid #D9DDE0;
}
.stats-sum {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'asapregular', sans-serif;
    color: #838587;
}
.dashboard-global-analytics {
    border-bottom: 1px solid #D9DDE0;
    border-top: 1px solid #D9DDE0;
    padding-top: 20px;
    padding-bottom: 40px;
}
.dashboard-content h2 {
    font-family: 'pacificoregular', sans-serif;
    color: #9da0a4;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.global-analytics {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.global-analytics p {
    font-family: 'robotolight', sans-serif;
    font-size: 30px;
    color: #606366;
    margin: 0;
}
.global-analytics label {
    font-family: 'robotolight', sans-serif;
    color: #a9acaf;
    font-size: 13px;
    font-weight: 500;
}
strong {
    color: red;
    font-size: 17px;
}
.stats-by-img {
    padding-top: 20px;
    padding-bottom: 40px;
}
.dashboard-photo-details {
    max-height: 300px;
    width: 500px;
    margin: 0px auto 15px auto;
    text-align: center;
}
.photo-details-img {
    max-height: 300px;
    max-width: 500px;
    box-shadow: 1px 1px 8px 0px #656565;
}
.btn-go-back {
    position: relative;
    float: right;
    margin-top: 4px;
    margin-right: 20px;
}
.dashboard-content table {
    table-layout: fixed;
}
.dashboard-content table td {
    vertical-align: middle!important;
    padding: 8px!important;
    text-align: center;
}
.dashboard-content table .dashboard-detail-btn {
    text-decoration: initial;
    color: white;
}
.dashboard-content .dashboard-photo-list .dashboard-photo-caption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 52px;
}
.dashboard-photo-author {
    margin-top: 15px;
}
.dashboard-content .dashboard-photo-details-link,
.dashboard-content .dashboard-photo-details-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboard-content .dashboard-table-photo-details tbody:nth-child(n+1) td:nth-child(1) {
    width: 165px;
}
.dashboard-content .dashboard-photo-list tbody:nth-child(n+1) td:nth-child(1) {
    width: 165px;
    height: 100px;
}
.dashboard-content .dashboard-photo-list td:nth-child(2),
.dashboard-content .dashboard-table-photo-details td:nth-child(2)
{
    width: 103px;
}
.dashboard-content .dashboard-table-photo-details td:nth-child(n+3):nth-child(-n+4) {
    width: 217px;
}
.dashboard-content .dashboard-photo-list td:nth-child(3),
.dashboard-content .dashboard-photo-list td:nth-child(7)
{
    width: 182px;
}
.dashboard-content .dashboard-photo-list td:nth-child(n+4):nth-child(-n+6),
.dashboard-content .dashboard-table-photo-details td:nth-child(n+5) {
    width: 80px;
}
.dashboard-content .dashboard-photo-list td:nth-child(8) {
    width: 150px;
}

.dashboard-content table .dashboard-photo-preview-td {
    padding: 1px!important;
}
/*.dashboard-content table .dashboard-photo-preview {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/
.dashboard-content table .dashboard-photo-preview img {
    max-width: 100px;
    max-height: 100px;
}
.dashboard-content .dashboard-photo-source {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.photo-details-percentage::after {
    content: "%"
}
.photo-details-time::after {
    content: "s"
}
.dashboard-content .pagination {
    float: left;
    margin: 0 0 0 10px;
}