body {
    display: none;
}
header {
    border-top: 10px solid #ff3d3c;
}
    .pastille-adentify {
        top: 0px;
    }
    .account-buttons {
        top: 200px;
    }

.homepage-capture {
    margin-top: 305px;
}

.polygon-background h2 {
    font-size: 40px;
    font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
    color: #5b5756;
    padding: 50px 0px;
    margin-top: 0px;
}

/* How it works */
.how-it-works-inner {
    background: url('../../bundles/adentifycommon/images/about-captures.png') no-repeat top center;
    width: 1001px;
    margin: 20px auto 0px auto;
    height: 1628px;
    position: relative;
}
.steps {
    font-family: 'asapregular', "Helvetica Neue", "Arial", sans-serif;
    font-size: 22px;
    color: #828081;
    text-align: left;
}
.steps strong {
    font-family: 'asapbold', "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
}
.steps li {
    position: absolute;
}
.step1 {
    top: 155px;
    left: 741px;
    max-width: 215px;
}
.step2 {
    top: 819px;
    left: 3px;
    max-width: 280px;
}
.step3 {
    top: 1346px;
    left: 746px;
    max-width: 280px;
}

/* Rewards earnings */
.rewards-earnings {
    background: url('../../bundles/adentifycommon/images/tags_count_bg.jpg') no-repeat;
    height: 482px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
}
    .rewards-earnings h2 {
        font-size: 50px;
        font-family: 'asapbold_italic', "Helvetica Neue", "Arial", sans-serif;
        margin-top: 0px;
        padding-top: 20px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .rewards-earnings p {
        font-size: 40px;
        font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .rewards-earnings .row {
        max-width: 700px;
        margin: auto;
    }

/* Launch */
.launch {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4747', endColorstr='#ff2d2c',GradientType=0 );
    border-top: 1px solid #dad9d9;
}
     .launch .container {
         position: relative;
     }
     .launch-inner {
         position: relative;
         z-index: 10;
     }
    .launch h2 {
        font-size: 40px;
        font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
        color: #5b5756;
        padding: 100px 0px 50px 0px;
        margin-top: 0px;
    }

    .launch .btn {
        width: 227px;
        height: 50px;
        vertical-align: middle;
        font-size: 14px;
    }
    .launch .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .signup-wrapper {
        margin-bottom: 120px;
    }

.bottom-white-border {
    background: url('../../bundles/adentifycommon/images/bottom-white-border.png') repeat-x;
    height: 19px;
    position: relative;
}
    .footer-home-button {
        background: url('../../bundles/adentifycommon/images/footer-home-button.png');
        width: 115px;
        height: 73px;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -57px;
    }