<form class="form-horizontal">
    <fieldset>
        <legend data-i18n="mySettings.generalSettings"></legend>

        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.labelLang"></label>
            <div class="controls">
                <select id="lang" name="lang">
                    <option value="fr" data-i18n="mySettings.french"></option>
                    <option value="en" data-i18n="mySettings.english"></option>
                </select>
            </div>
        </div>

        <legend data-i18n="mySettings.changePasswordLegend"></legend>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.actualPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.newPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.confirmPassword"></label>
            <div class="controls">
                <input type="password">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success" data-i18n="mySettings.saveChanges"></button>
            <button type="button" class="btn btn-danger" data-i18n="mySettings.cancel"></button>
        </div>

    </fieldset>
</form>