<form class="form-horizontal langForm">
    <fieldset>
        <legend data-i18n="mySettings.generalSettings"></legend>

        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.labelLang"></label>
            <div class="controls">
                <select id="lang" name="lang">
                    <option value="fr" data-i18n="mySettings.french"></option>
                    <option value="en" data-i18n="mySettings.english"></option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<form class="form-horizontal changePasswordForm fadeOut">
    <fieldset>
        <legend data-i18n="mySettings.changePasswordLegend"></legend>
        <div class="alert-changePassword"></div>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.actualPassword"></label>
            <div class="controls">
                <input type="password" name="current_password" class="currentPassword">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.newPassword"></label>
            <div class="controls">
                <input type="password" name="new[first]" class="newPasswordFirst">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" data-i18n="mySettings.confirmPassword"></label>
            <div class="controls">
                <input type="password" name="new[second]" class="newPasswordSecond">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success changePasswordButton" data-i18n="mySettings.submitChangePassword"></button>
        </div>
</fieldset>
</form>

<form class="form-horizontal">
    <fieldset>
        <legend data-i18n="mySettings.connectedServices"></legend>
        <div class="alert-connected-services"></div>
        <ul class="connected-services-list"></ul>
</fieldset>
</form>