<div class="service-icon <%= model.get('service_name').toLowerCase() %>-text">
    <div class="<%= model.get('service_name').toLowerCase() %>-circle-icon service-icon-tooltip" data-toggle="tooltip" title data-original-title="<%= model.get('service_name') %>"></div><% if (showLabel) { %> <div class="service-name-label"><%= model.get('service_name') %></div><% } %>
</div>
<div class="service-action">
    <% if (model.has('cant_delete') && model.get('cant_delete')) { %>
    <%= $.t('mySettings.serviceCannotBeDeleted') %>
    <% } else if (model.has('linked') && !model.get('linked')) { %>
    <button class="btn-around-corner btn-dark-grey connect-button connect-<%= model.get('service_name').toLowerCase() %>"> <%= $.t('mySettings.linkMyAccount') %></button>
    <% } else { %>
    <button class="btn-around-corner btn-white-grey deletelink"><i class="glyphicon glyphicon-remove"></i> <%= $.t('mySettings.deleteLink') %></button>
    <% } %>
</div>
<div class="clearfix"></div>