{% extends "::base.html.twig" %}

{% block body %}
    <main role="main" id="main">

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="">Home</a></li>
                        <li><a href="pics/">Pics</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content" class="container">

        </div>

        <footer>
            Copyright 2013
        </footer>

    </main>
{% endblock %}